 <div class="col-lg-3">
        <!-- Toggle button -->
        <button
                class="btn btn-outline-secondary mb-3 mt-4 w-100 d-lg-none"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
          <span>Show filter</span>
        </button>
        <!-- Collapsible wrapper -->
        <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
           <%= search_form_for @q, url: providers_path do |f| %>
            <div class="accordion" id="accordionPanelsStayOpenExample" data-controller="provider-filter">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingServices">
                  <button class="accordion-button text-dark bg-light" type="button" data-bs-toggle="collapse"
                          data-bs-target="#collapseServices" aria-expanded="true" aria-controls="collapseServices">
                    Services
                  </button>
                </h2>
                <div id="collapseServices" class="accordion-collapse collapse show" aria-labelledby="headingServices">
                  <div class="accordion-body">
                    <div>
                      <% Provider.services.keys.each do |service_key| %>
                        <% service_name = Provider.services[service_key] %>
                        <%= f.collection_check_boxes :service_eq_any, [service_name], :to_s, :to_s do |b| %>
                          <div class="form-check">
                            <%= b.check_box %>
                            <label class="form-check-label" for="serviceCheckbox<%= service_name %>"><%= service_key %></label>
                            <span class="badge rounded-pill bg-secondary"><%= Provider.where(service: service_name).count %></span>
                          </div>
                        <% end %>
                      <% end %>

                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="m-3">
              <%= f.submit "Search", class: "btn btn-secondary" %>
              <%= link_to "Clear Filters", providers_path, class: "btn btn-outline-secondary ms-2" %>
            </div>
          <% end %>

            
        </div>
      </div>