<div class = " container">
  <%= bootstrap_form_with(model: provider) do |form| %>
            <% if provider.errors.any? %>
              <div style="color: red">
                <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

                <ul>
                  <% provider.errors.each do |error| %>
                    <li><%= error.full_message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
         


            <div>
              <span class=" text-success fw-bold">  Kindly attach five images of your work</span>
              <% provider.images.each do |image| %>
              <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
              <% end %>

              <%= form.file_field :images, multiple: true,  direct_upload: true , required: false %>
            </div>
            <div>
              <%= form.select :service, Provider.services.keys %>
            </div>

            <div>
              <%= form.text_field :name, required: true, placeholder: "Write your Business Name here" %>
            </div>

           <div>
              <%= form.number_field :phone_number, placeholder: "write your phone number here" %>
            </div>

            <div>
              <%= form.text_area :motto , required: true, placeholder: "Write your Business Motto here" %>
            </div>
            <div>
              <%= form.rich_text_area :description, required: true, placeholder: "Describe your business here" %>
            </div>

            <div>
              <%= form.text_field :website, placeholder: "Link to your website if any" %>
            </div>

            <div>
              <%= form.text_field :instagram, placeholder: "Link to your Instagram if any" %>
            </div>

            <div>
              <%= form.text_field :tiktok, placeholder: "Link to your tiktok if any" %>
            </div>
            <div>
              <%= form.text_field :facebook, placeholder: "Link to your facebook" %>
            </div>


            <div>
              <%= form.text_field :location, required: true, placeholder: "Indicate the nearest town" %>
            </div>

            <div>
              <%= form.submit %>
            </div>
  <% end %>
</div>
