<div class = " container">
<%= render "shared/notice" %>
<%= bootstrap_form_with(model: provider) do |form| %>
  <% if provider.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(provider.errors.count, "error") %> prohibited this provider from being saved:</h2>

      <ul>
        <% provider.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
   <% if provider.images.present? %>
     <% provider.images.each do |image| %>
     <%= image_tag image, style: "width:  50px; height: 50px;" %>
      <%= form.hidden_field :images, multiple: true, value: image.signed_id %>
     <% end %>

 <% end %>
  </div>
 <div>
     <span class=" text-success fw-bold">  Kindly attach five images of your work</span>
    <%= form.file_field :images, multiple: true, required: true %>
  </div>
  <div>
    <%= form.select :service, Provider.services.keys %>
  </div>

  <div>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.text_area :description , required: true %>
  </div>

  <div>
    <%= form.text_field :website %>
  </div>

  <div>
    <%= form.text_field :instagram %>
  </div>

  <div>
    <%= form.text_field :tiktok %>
  </div>


  <div>
    <%= form.text_field :location, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>





</div>
