<div class= " col-lg-4 col-md-6 col-sm-6 d-flex align-items-center justify-content-center">
  <div id="<%= dom_id provider %>">  

        <div class="card  index-card my-2 shadow-2-strong" >
            <div id="carousel-<%= provider.id %>" class="carousel slide " data-bs-ride="false" >
                    <div class="carousel-inner" >
                        <% provider.resized_images[0..2].each_with_index do |image, index| %>
                        <div class="carousel-item <%= 'active' if index == 0 %> " >
                            <%= image_tag(image, class: "d-block w-100 " ,style: "height: 180px; object-fit: cover; ") %>
                        </div>
                        <% end %>
                    </div>
                    <div>
                        <a class="carousel-control-prev" href="#carousel-<%= provider.id %>" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-<%= provider.id %>" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </a>
                    </div>
            </div>
            <div class="card-body ">
                 <div>
                 <% if provider.top_rated? %>
                <span class="badge bg-warning"> Top Rated</span>
                <% end %>
                 </div>
              <h6 class="card-title fw-bold d-inline-block text-truncate" style="max-width: 220px;"><%= provider.name.capitalize %></h6>
                  <div class= "d-flex  justify-content-around">
                <p class="card-text badge bg-secondary"><%= provider.service.capitalize%></p>
                <p class="text-secondary card-text "> <i class="fa fa-map-marker" aria-hidden="true"></i><%= provider.location.capitalize %></p>
                </div>
                 <p>
                  <%= link_to "View this service", provider , class: "btn btn-outline-info d-grid", data: {turbo_frame: :_top}%>
                </p>
                <div>
                   <% if provider.draft? %>
                      <%= link_to "Publish for  1000 shillings only", pay_provider_path(provider) , class: "btn btn-sm text-white btn-info fw-bold", data: {turbo_frame: :_top}%>
                    <% end %>
                </div>
                 
            </div>
        </div>
    </div>

</div>




