<div id="<%= dom_id provider %>">
  <p>
    <strong>Service:</strong>
    <%= provider.service %>
  </p>

  <p>
    <strong>images:</strong>
    <% provider.resized_images.each do |image| %>
    <%=image_tag image %>
    <% end %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= provider.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= provider.description %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= provider.website %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= provider.instagram %>
  </p>

  <p>
    <strong>Tiktok:</strong>
    <%= provider.tiktok %>
  </p>


  <p>
    <strong>Location:</strong>
    <%= provider.location %>
  </p>

</div>
