<div class= " col-lg-4 col-md-6 col-sm-6 d-flex">
  <div id="<%= dom_id provider %>">  

        <div class="card  w-100 my-2 shadow-2-strong">
            <div id="carousel-<%= provider.id %>" class="carousel slide " data-bs-ride="false">
                    <div class="carousel-inner ">
                        <% provider.images.each_with_index do |image, index| %>
                        <div class="carousel-item <%= 'active' if index == 0 %>">
                            <%= image_tag(image, :width => 300, :height => 170 ) %>
                        </div>
                        <% end %>
                    </div>
                    <div>
                        <a class="carousel-control-prev" href="#carousel-<%= provider.id %>" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-<%= provider.id %>" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </a>
                    </div>
            </div>
            <div class="card-body p-4">
              <h6 class="card-title"><%= provider.name.capitalize %></h6>
                <p class="text-secondary card-text mb-0"> <i class="fa fa-map-marker" aria-hidden="true"></i><%= provider.location.capitalize %></p>
                <p class="card-text mt-2 pill"><%= provider.service.capitalize%></p>
                 <p>
                  <%= link_to "View this provider", provider , class: "btn btn-outline-info d-grid"%>
                </p>
            </div>
        </div>
    </div>

</div>




