
<div class =" mt-4 d-flex align-items-center justify-content-center">
<%= link_to "Create your service", new_provider_path , class: "btn btn-secondary"%>
</div>
<hr>


<div class="container"> 
  <div class="row ">
   <%= render "filter" %>
    <div class="col-lg-9">
     <%= render "sort" %>
      <%= turbo_frame_tag :results do %>
       <div class="row" id ="providers">
        
           
       </div>
         <%= turbo_frame_tag :pagination,
                      loading: :lazy,
                      src: providers_path(format: :turbo_stream, q: params[:q]) %>


       <% end %>
    </div>


  </div>
</div>





