
<p style="color: green"><%= notice %></p>
<div class ="d-flex align-items-center justify-content-center">
<%= link_to "Create your service", new_provider_path , class: "btn btn-secondary"%>
</div>



<div class="container"> 
  <div class="row">
  <%= render "filter" %>
    <div class="col-lg-9">
     <%= render "sort" %>
      <div class="row">
        <% @providers.each do |provider| %>
              <%= render provider %>
            <% end %>
      </div>
    </div>


  </div>
</div>





