
<div class =" mt-4 d-flex align-items-center justify-content-center">
<%= link_to "Create your service", new_provider_path , class: "btn btn-secondary"%>
</div>
<hr>


<div class="container"> 
  <div class="row ">
   <%= render "filter" %>
    <div class="col-lg-9">
     <%= render "sort" %>
      <div class="row">
      <%if @providers.present? %>
        <% @providers.each do |provider| %>
            <%= render provider %>
        <% end %>
        <% else %>
        <div class="card">
        No Providers found, see all available <%= link_to "here", providers_path %>
        </div>
        <% end %>
      </div>
    </div>


  </div>
</div>





