<div class ="container mt-3 text-white d-flex">
 <%= link_to "Back ", providers_path, class: " btn fa fa-arrow-circle-left" %> |
<% if policy(@provider).edit? %>
  <%= link_to "Edit", edit_provider_path(@provider), class: " btn fas fa-edit " %> |
<% end %>
 
<% if policy(@provider).destroy? %>
 <%= button_to "Delete", @provider, method: :delete, data: { turbo: false} ,class: "btn  fa fa-trash" %>
<% end %>


                 
</div>


<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
   <%= render "gallery" %>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
          <%=@provider.name  %> 
          </h4>
          <div class="d-flex flex-row my-3">
          <% if @provider.ratings.any? %>
            <div class="text-warning mb-1 me-2">
               <% @provider.average_rating.to_i&.times do %>
              <i class="fa fa-star"></i>
             <% end %>
              <span class="ms-1">
             <%= @provider.average_rating.to_d%>
              </span>
            </div>
          <% end %>
            
          </div>


          <p class = "text-truncate">
           <%= @provider.motto%>
          </p>

          <div class="row">
            <dt class="col-3">Service:</dt>
            <dd class="col-9"> <%= @provider.service.capitalize %></dd>

            <dt class="col-3">Location:</dt>
            <dd class="col-9"><%= @provider.location.capitalize %></dd>

          </div>

          <hr />


            
          </div>
            <div class= "d-flex justify-content-between p-2">
              <% if @conversations.present? %>
              <%= link_to "Chat 📩", conversation_path(conversation), class: "btn btn-secondary shadow-0" %>
                
              <% else %>
              <%= link_to "Message 📩", new_provider_message_path(@provider), class: "btn btn-secondary shadow-0" %>
              <% end %>
              <%= render "like" %>
              <%= render "rating" %>
                
            </div>
               <div class ="my-3">
               <% if @provider.draft? && policy(@provider).show?  %>
                      <%= link_to "Publish for  500 shillings only", pay_provider_path(@provider) , class: "btn text-white btn-info fw-bold"%>
               <% end %>
               </div>
               <div>  
                   <%if policy(@provider).edit?  %>
                       <%= render "stats" %>
                       <% end %>
               </div>
        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100 active"
                                id="ex1-tab-1" data-bs-toggle="pill" href="#ex1-pills-1" role="tab"
                                aria-controls="ex1-pills-1" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-2"
                                data-bs-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2"
                                aria-selected="false">Reviews</a>
                        </li>
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-3"
                                data-bs-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3"
                                aria-selected="false">Location</a>
                        </li>
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4"
                                data-bs-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4"
                                aria-selected="false">Seller contacts</a>
                        </li>
                    </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content" id="ex1-content">
                        <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel"
                            aria-labelledby="ex1-tab-1">
                            <div class="card p-2">  
                                <%= @provider.description %>
                            </div>
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                           <% @provider.ratings.each do |rating| %>
                           <div class="card p-2">
                             <div class= "fw-bold ">  <%= rating.comment %> </div>
                             <div class = "fw-bold"><%= rating.star %>  <i class="fa fa-star text-warning"></i> </div>
                            </div>
                           <% end %>
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                          <div class="card p-2"><%= @provider.location %></div> 
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                            <% if user_signed_in? %>
                          <div class =" p-2 card">
                         <%= @provider.phone_number %>
                         </div>
                         <% else %>
                         <h6 class = "text-danger">Sign in to  see phone number</h6>
                         <% end %>
                        </div>
                    </div>
          <!-- Pills content -->
        </div>
      </div>

      <% if @similar_services.present? %>
       <%= render "similar" %> 
      <% end %>
    </div>
  </div>
</section>
<!-- Footer -->

<!-- Footer -->



