

<div class ="container mt-3 ">
 <%= link_to "Back to providers", providers_path, class: " fa fa-arrow-circle-left" %> |
<% if policy(@provider).edit? %>
  <%= link_to "Edit this provider", edit_provider_path(@provider), class: "fas fa-edit mx-2" %> |
<% end %>
 
<% if policy(@provider).destroy? %>
 <%= button_to "Delete this provider", @provider, method: :delete, class: "btn  btn-danger mt-2 " %>
<% end %>
  
</div>


<!-- content -->
<section class="py-5">
  <div class="container">
    <div class="row gx-5">
   <%= render "gallery" %>
      <main class="col-lg-6">
        <div class="ps-lg-3">
          <h4 class="title text-dark">
          <%=@provider.name  %> 
          </h4>
          <div class="d-flex flex-row my-3">
          <% if @provider.ratings.any? %>
            <div class="text-warning mb-1 me-2">
               <% @provider.average_rating.to_i&.times do %>
              <i class="fa fa-star"></i>
             <% end %>
              <span class="ms-1">
             <%= @provider.average_rating.to_d%>
              </span>
            </div>
          <% end %>
              <% if @provider.likes.any? %>
           <span class="text-muted"><i class="fas fa-heart text-danger fa-sm mx-1"></i><%= @provider.likes_count %></span>
              <% end %>
          </div>


          <p class = "text-truncate">
           <%= @provider.motto%>
          </p>

          <div class="row">
            <dt class="col-3">Service:</dt>
            <dd class="col-9"> <%= @provider.service.capitalize %></dd>

            <dt class="col-3">Location:</dt>
            <dd class="col-9"><%= @provider.location.capitalize %></dd>


            <dt class="col-3">Consultation:</dt>
            <dd class="col-9">Free</dd>
          </div>

          <hr />


            
          </div>
            <div class= "d-flex ">
              <% if @conversations.present? %>
              <%= link_to "Message", conversation_path(conversation), class: "btn btn-warning shadow-0" %>
                
              <% else %>
              <%= link_to "Message", new_provider_message_path(@provider), class: "btn btn-warning shadow-0" %>
              <% end %>
              <%= render "like" %>
              <%= render "rating" %>
                
            </div>
        </div>
      </main>
    </div>
  </div>
</section>
<!-- content -->

<section class="bg-light border-top py-4">
  <div class="container">
    <div class="row gx-4">
      <div class="col-lg-8 mb-4">
        <div class="border rounded-2 px-3 py-2 bg-white">
          <!-- Pills navs -->
          <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100 active"
                                id="ex1-tab-1" data-bs-toggle="pill" href="#ex1-pills-1" role="tab"
                                aria-controls="ex1-pills-1" aria-selected="true">Description</a>
                        </li>
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-2"
                                data-bs-toggle="pill" href="#ex1-pills-2" role="tab" aria-controls="ex1-pills-2"
                                aria-selected="false">Reviews</a>
                        </li>
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-3"
                                data-bs-toggle="pill" href="#ex1-pills-3" role="tab" aria-controls="ex1-pills-3"
                                aria-selected="false">Location</a>
                        </li>
                        <li class="nav-item d-flex" role="presentation">
                            <a class="nav-link d-flex align-items-center justify-content-center w-100" id="ex1-tab-4"
                                data-bs-toggle="pill" href="#ex1-pills-4" role="tab" aria-controls="ex1-pills-4"
                                aria-selected="false">Seller contacts</a>
                        </li>
                    </ul>
          <!-- Pills navs -->

          <!-- Pills content -->
          <div class="tab-content" id="ex1-content">
                        <div class="tab-pane fade show active" id="ex1-pills-1" role="tabpanel"
                            aria-labelledby="ex1-tab-1">
                            <p>
                                <%= @provider.description %>
                            </p>

                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-2" role="tabpanel" aria-labelledby="ex1-tab-2">
                           <% @provider.ratings.each do |rating| %>

                            <%= rating.comment %>
                            <%= rating.star %>
                           <% end %>
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-3" role="tabpanel" aria-labelledby="ex1-tab-3">
                           <%= @provider.location %>
                        </div>
                        <div class="tab-pane fade mb-2" id="ex1-pills-4" role="tabpanel" aria-labelledby="ex1-tab-4">
                            <% if user_signed_in? %>
                         <%= @provider.phone_number %>
                         <% else %>
                         sign in to  see phone number
                         <% end %>
                        </div>
                    </div>
          <!-- Pills content -->
        </div>
      </div>

      
     <%= render "similar" %>
    </div>
  </div>
</section>
<!-- Footer -->

<!-- Footer -->



