<h3>chatting with</h3><%= @conversation.deleted_client_or_provider? ? t("deleted_account") : @conversation.other_recipient(current_user).name %>
<%# <%= render "shared/error_messages", resource: @message %> 

<div class="min-h-full max-w-2xl mx-auto py-12 sm:px-6 lg:px-8">
  <div class="mt-6 d-flex justify-content-between align-items-start">
    <h1 class="text-3xl px-6">
      <span class="fw-extrabold"><%= t(".title") %></span>

      <div class="d-flex align-items-center space-x-2 mt-2 text-sm text-gray-600">
        <div class="d-block"><%= t(".with") %></div>
        <% if @conversation.deleted_client_or_provider? %>
          <span class="font-medium text-gray-600 group-hover:text-gray-500">
            <%= t("deleted_account") %>
          </span>
        <% else %>
          <%= link_to polymorphic_path(@conversation.other_recipient(current_user)), class: "d-flex align-items-center space-x-2 group" do %>
            <%# <%= render AvatarComponent.new(avatarable: @conversation.other_recipient(current_user), variant: :thumb, classes: "h-8 w-8") %> 
            <span class="font-medium text-gray-600 group-hover:text-gray-500"><%= @conversation.other_recipient(current_user).name %></span>
          <% end %>
      <% end %>
      </div>
    </h1>
  </div>

  <ul id="messages" class="mt-8 space-y-2">
    <%= render @conversation.messages %>
  </ul>

 

  <div class="mt-8 max-w-prose w-full mx-auto px-4 sm:px-0 pb-6">
    <% if policy(@message).create? %>
      <div class="mt-4">
        <%= turbo_frame_tag "new_message" do %>
          <%= render "conversations/new_message", conversation: @conversation, message: @message %>
        <% end %>
      </div>
    <% end %>
     
</div>
