<div id="<%= dom_id client %>" class = "container col-12 col-md-8 mx-auto rounded text-wrap border mt-3">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Wedding date:</strong>
    <%= client.wedding_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= client.location %>
  </p>

  <p>
    <strong>Guest no:</strong>
    <%= client.guest_no %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= number_to_currency(client.budget, unit: 'Ksh.' )%>
  </p>

  <p>
    <strong>number:</strong>
    <%=client.phone_number %>
  </p>
<hr>
<div>
  <%= link_to "Edit this wedding details", edit_client_path(@client) %> |
  <%= link_to "Edit My client profile", edit_user_registration_path(current_user) %> |
</div>
</div>
