<div id="<%= dom_id client %>">
  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Wedding date:</strong>
    <%= client.wedding_date %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= client.location %>
  </p>

  <p>
    <strong>Guest no:</strong>
    <%= client.guest_no %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= client.budget %>
  </p>

</div>
