   <section>
        <div class="container h-100 position-relative pt-4 mt-4" style="top: -50px;padding-top: 18px;">
            <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
                <div class="col">
                    <div class="card">
                    <%= image_tag "food.jpg", class: "card-img-top w-100 d-block fit-cover", style: "height: 200px;"  %>
                        <div class="card-body p-4">
                            <p class="text-info card-text mb-0">CATERERING PROVIDERS</p>
                            <ul class ="list-group">
                                <li class ="list-group-item">Dessert</li>
                                <li class ="list-group-item">Cakes</li>
                                <li class ="list-group-item">Drinks</li>
                                <li class ="list-group-item">Meals</li>
                            </ul>

                            <div class="d-flex mt-2">
                            <%= link_to "See All Caterers", providers_path(service: "caterer") , class: "btn btn-info" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <%= image_tag "wedding.jpg", class: "card-img-top w-100 d-block fit-cover", style: "height: 200px;"  %>
                        <div class="card-body p-4">
                            <p class="text-info card-text mb-0">DECORATION PROVIDERS</p>
                            <ul class ="list-group">
                                <li class ="list-group-item">Chairs</li>
                                <li class ="list-group-item">Tents</li>
                                <li class ="list-group-item">Arcs</li>
                                <li class ="list-group-item">Flowers</li>
                            </ul>

                            <div class="d-flex mt-2">
                            <%= link_to "See All Decorators", providers_path(service: "decorator") , class: "btn btn-info" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <%= image_tag "makeup.jpg", class: "card-img-top w-100 d-block fit-cover", style: "height: 200px;"  %>
                        <div class="card-body p-4">
                            <p class="text-info card-text mb-0">BEAUTY AND HAIR</p>
                            <ul class ="list-group">
                                <li class ="list-group-item">Makeup</li>
                                <li class ="list-group-item">Hair</li>
                                <li class ="list-group-item">Nails</li>
                                <li class ="list-group-item">Lashes</li>
                            </ul>

                            <div class="d-flex mt-2">
                            <%= link_to "See All Beauticians", providers_path(service: "makeup") , class: "btn btn-info" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <%= image_tag "venue.jpg", class: "card-img-top w-100 d-block fit-cover", style: "height: 200px;"  %>
                        <div class="card-body p-4">
                            <p class="text-info card-text mb-0">RECEPTION VENUES</p>
                            <ul class ="list-group">
                                <li class ="list-group-item">Outdoors</li>
                                <li class ="list-group-item">Garden</li>
                                <li class ="list-group-item"> Castle</li>
                                <li class ="list-group-item">Church</li>
                            </ul>

                            <div class="d-flex mt-2">
                            <%= link_to "See All Venues", providers_path(service: "venue") , class: "btn btn-info" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                    <%= image_tag "photography.jpg", class: "card-img-top w-100 d-block fit-cover", style: "height: 200px;"  %>
                        <div class="card-body p-4">
                            <p class="text-info card-text mb-0">PHOTOGRAPHY PROVIDERS</p>
                            <ul class ="list-group">
                                <li class ="list-group-item">Photos</li>
                                <li class ="list-group-item">Videos</li>
                                <li class ="list-group-item">Drones</li>
                                <li class ="list-group-item">Framing</li>
                            </ul>

                            <div class="d-flex mt-2">
                            <%= link_to "See All Photographers", providers_path(service: "photographer") , class: "btn btn-info" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col" >
                    <div class="card" >
                    <%= image_tag "dj.jpg", class: "card-img-top w-100 d-block fit-cover", style: "height: 200px;"  %>
                        <div class="card-body p-4">
                            <p class="text-info card-text mb-0">SOUND AND M.C</p>
                            <ul class ="list-group">
                                <li class ="list-group-item">D.J </li>
                                <li class ="list-group-item">Public Address</li>
                                <li class ="list-group-item">Choreography</li>
                                <li class ="list-group-item">Music</li>
                            </ul>

                            <div class="d-flex mt-2">
                            <%= link_to "See All MCs", providers_path(service: "MC") , class: "btn btn-info" %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>