
<div class = "container ">
<div class="row justify-content-center">
<div class="col-lg-4 col-12 border mt-3">
<%= bootstrap_form_for [@provider, @rating] do |f| %>
<%= render "shared/errors", record: @rating %>
  <p>
   <span class=" text-center fw-bold">  Kindly rate out of 5</span>
 <%= f.radio_button :star, 1 %> 
<%= f.radio_button :star, 2 %> 
<%= f.radio_button :star, 3 %> 
<%= f.radio_button :star, 4 %> 
<%= f.radio_button :star, 5 %> 

  </p>
    
<p>
<%= f.text_field :comment %>
</p>
  <p>
    <%= f.submit 'Submit Rating', class: 'btn btn-primary' %>
  </p>
<% end %>
</div>
</div>
</div>