<div style="padding: 20px">
  <h1>Stats</h1>
  <br>
  <p><b>Total users:</b> <%= @stats[:user_count] %></h1>
  <br>
  <p><b>Total clients:</b> <%= @stats[:client_count] %></h1>
  <br>
  <p><b>Total Providers:</b> <%= @stats[:provider_count] %></h1>
  <br>
  <p><b>Total Draft:</b> <%= @stats[:draft_count] %></h1>
  <br>
  <p><b>Total published:</b> <%= @stats[:published_count] %></h1>
</div>
