<!DOCTYPE html>
<html>
  <head>
  <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-P5TXLV24C3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-P5TXLV24C3');
    </script>
    <title>Kenya Service Providers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
       <%= stylesheet_link_tag "actiontext", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0/css/all.min.css" integrity="sha512-c93ifPoTvMdEJH/rKIcBx//AL1znq9+4/RmMGafI/vnTFe/dKwnn1uoeszE2zJBQTS1Ck5CqSBE+34ng2PthJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
  </head>

  <body class ="hero-btn">
  <%= render "shared/navbar" %>
  <section class="position-relative">
    <div class="container">
      
        <div class="row ">
      
            <div class="col-md-8 col-xl-6 text-center mx-auto">
               <% if flash[:notice].present? %>
                    <div class=" mt-2 alert alert-success">
                        <%= flash[:notice] %>
                    </div>
                    <% elsif flash[:alert].present? %>
                    <div class=" mt-2 alert alert-danger">
                        <%= flash[:alert] %>
                    </div>
                <% end %>

                <h2><%= yield :title %></h2>
                    
                <p class="w-lg-50"></p>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body">
                       
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
  
  </body>
</html>
